:root {
    --color-60: #EDF2F4;
    --color-30: #17183B;
    --color-10:#8FB7A1;
    --color-text:#130e01;
  }


.container-fluid {
    height: 100%;
}

.fondo {
    margin: 0;
}

.navegacion-barra {
    background-color: var(--color-30);
    height: 100px;
}

.body {
    margin: 0,0,0,0;
}

nav a {
    text-decoration: none;
}

nav h1 {
    color: var(--color-60);
    text-align: center;
}

.texto-inico {
    font-size: 30px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
