:root {
    --color-60: #EDF2F4;
    --color-30: #17183B;
    --color-10:#8FB7A1;
    --color-text:#130e01;
  }


.container-fluid {
    height: 100%;
}



.fondo {
    margin: 0;
}

.navegacion-barra {
    background-color: var(--color-30);
}

.navegacion-barra a {
    color: var(--color-60);
}

.body {
    margin: 0,0,0,0;
}

nav a {
    text-decoration: none;
}

nav h1 {
    color: var(--color-60);
    text-align: center;
}

.texto-inico {
    font-size: 30px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.titulos-banner {
    background-color: var(--color-30);
    height: 75px;
    border-radius: 10px;
}

.titulo-seccion {
    font-size: 50px;
    color: var(--color-60);
    text-align: center;

}

.rutina-contenedor {
    background-color: var(--color-30);
    height: 400px;
}

.rutina-foto {
    width: 450px;
    height: 300px;
}

.rutina-titulo {
    color: var(--color-60);
    text-align: center;
}

.rutina-contenedor:hover {
    background-color: var(--color-10);
}

